---
name: Update Ability term list
isPrivate: false
enabled: true
triggers:
- type: TRIGGER_EVENTBUS
  topic: mediawiki.revision-create
  predicate:
    op: test
    path: /page_title
    value: 特性列表
- type: TRIGGER_MANUAL
definition:
  StartAt: GET_HTML_1
  States:
    GET_HTML_1:
      Type: Task
      Resource: GET_HTML
      Parameters:
        title: 特性列表
        variants:
        - zh-hant
        - zh-hans
      ResultPath: $.payload
      Next: PARSE_TERMINOLOGY_LIST_2
    PARSE_TERMINOLOGY_LIST_2:
      Type: Task
      Resource: PARSE_TERMINOLOGY_LIST
      Parameters:
        text.$: $.payload.text
        variants.$: $.payload.variants
        entrySelector: .eplist tr
        idSelector: td:first-of-type
        langSelectorMap:
          zh: td:nth-child(2)
          ja: td[lang="ja"]
          en: td[lang="en"]
      ResultPath: $.payload
      Next: UPDATE_TERMINOLOGY_3
    UPDATE_TERMINOLOGY_3:
      Type: Task
      Resource: UPDATE_TERMINOLOGY
      Parameters:
        category: ability
        list.$: $.payload
      ResultPath: $.payload
      End: true
---
name: Update Pokémon term list
isPrivate: false
enabled: true
triggers:
- type: TRIGGER_EVENTBUS
  topic: mediawiki.revision-create
  predicate:
    op: test
    path: /page_title
    value: 宝可梦列表（按全国图鉴编号）/简单版
- type: TRIGGER_MANUAL
definition:
  StartAt: GET_HTML_1
  States:
    GET_HTML_1:
      Type: Task
      Resource: GET_HTML
      Parameters:
        title: 宝可梦列表（按全国图鉴编号）/简单版
        variants:
        - zh-hant
        - zh-hans
      ResultPath: $.payload
      Next: PARSE_TERMINOLOGY_LIST_2
    PARSE_TERMINOLOGY_LIST_2:
      Type: Task
      Resource: PARSE_TERMINOLOGY_LIST
      Parameters:
        text.$: $.payload.text
        variants.$: $.payload.variants
        entrySelector: .eplist tr:has(> td:nth-child(4))
        langSelectorMap:
          zh: td:nth-child(2)
          ja: td:nth-child(3)
          en: td:nth-child(4)
      ResultPath: $.payload
      Next: UPDATE_TERMINOLOGY_3
    UPDATE_TERMINOLOGY_3:
      Type: Task
      Resource: UPDATE_TERMINOLOGY
      Parameters:
        category: pokemon
        list.$: $.payload
      ResultPath: $.payload
      End: true
---
name: Update Site CSS
isPrivate: false
enabled: true
user: MudkipRadar
triggers:
- type: TRIGGER_EVENTBUS
  topic: mediawiki.revision-create
  predicate:
    op: test
    path: /page_title
    value: 神奇宝贝百科:层叠样式表
- type: TRIGGER_MANUAL
definition:
  StartAt: GET_TEXT_1
  States:
    GET_TEXT_1:
      Type: Task
      Resource: GET_TEXT
      Parameters:
        title: 神奇宝贝百科:层叠样式表
      ResultPath: $.payload
      Next: REGEXP_MATCH_2
    REGEXP_MATCH_2:
      Type: Task
      Resource: REGEXP_MATCH
      Parameters:
        pattern: <pre>([\s\S]*)<\/pre>
        text.$: $.payload.text
      ResultPath: $.scss
      Next: SCSS_COMPILE_3
    SCSS_COMPILE_3:
      Type: Task
      Resource: SCSS_COMPILE
      Parameters:
        scss.$: $.scss.matches[1]
        variables:
          pageName: Common.css
      ResultPath: $.payload
      Next: EDIT_WIKI_4
    EDIT_WIKI_4:
      Type: Task
      Resource: EDIT_WIKI
      Parameters:
        title: MediaWiki:Common.css
        text.$: $.payload.css
      ResultPath: $.payload
      End: true
---
name: Update Move term list
isPrivate: false
enabled: true
triggers:
- type: TRIGGER_EVENTBUS
  topic: mediawiki.revision-create
  predicate:
    op: test
    path: /page_title
    value: 招式列表
- type: TRIGGER_MANUAL
definition:
  StartAt: GET_HTML_1
  States:
    GET_HTML_1:
      Type: Task
      Resource: GET_HTML
      Parameters:
        title: 招式列表
        variants:
        - zh-hant
        - zh-hans
      ResultPath: $.payload
      Next: PARSE_TERMINOLOGY_LIST_2
    PARSE_TERMINOLOGY_LIST_2:
      Type: Task
      Resource: PARSE_TERMINOLOGY_LIST
      Parameters:
        text.$: $.payload.text
        variants.$: $.payload.variants
        entrySelector: .hvlist tr:has(> td:nth-child(4))
        langSelectorMap:
          zh: td:nth-child(2)
          ja: td[lang="ja"]
          en: td:nth-child(4)
      ResultPath: $.payload
      Next: UPDATE_TERMINOLOGY_3
    UPDATE_TERMINOLOGY_3:
      Type: Task
      Resource: UPDATE_TERMINOLOGY
      Parameters:
        category: move
        list.$: $.payload
      ResultPath: $.payload
      End: true
---
name: Update Item term list
isPrivate: false
enabled: true
triggers:
- type: TRIGGER_EVENTBUS
  topic: mediawiki.revision-create
  predicate:
    op: test
    path: /page_title
    value: 道具列表
- type: TRIGGER_MANUAL
definition:
  StartAt: GET_HTML_1
  States:
    GET_HTML_1:
      Type: Task
      Resource: GET_HTML
      Parameters:
        title: 道具列表
        variants:
        - zh-hant
        - zh-hans
      ResultPath: $.payload
      Next: PARSE_TERMINOLOGY_LIST_2
    PARSE_TERMINOLOGY_LIST_2:
      Type: Task
      Resource: PARSE_TERMINOLOGY_LIST
      Parameters:
        text.$: $.payload.text
        variants.$: $.payload.variants
        entrySelector: .hvlist tr:has(> td:nth-child(4))
        langSelectorMap:
          zh: td:nth-child(2)
          ja: td:nth-child(3)
          en: td:nth-child(4)
      ResultPath: $.payload
      Next: UPDATE_TERMINOLOGY_3
    UPDATE_TERMINOLOGY_3:
      Type: Task
      Resource: UPDATE_TERMINOLOGY
      Parameters:
        category: item
        list.$: $.payload
      ResultPath: $.payload
      End: true
---
name: Update Location term list
isPrivate: false
enabled: true
triggers:
- type: TRIGGER_EVENTBUS
  topic: mediawiki.revision-create
  predicate:
    op: test
    path: /page_title
    value: 地点列表
- type: TRIGGER_MANUAL
definition:
  StartAt: GET_HTML_1
  States:
    GET_HTML_1:
      Type: Task
      Resource: GET_HTML
      Parameters:
        title: 地点列表
        variants:
        - zh-hant
        - zh-hans
      ResultPath: $.payload
      Next: PARSE_TERMINOLOGY_LIST_2
    PARSE_TERMINOLOGY_LIST_2:
      Type: Task
      Resource: PARSE_TERMINOLOGY_LIST
      Parameters:
        text.$: $.payload.text
        variants.$: $.payload.variants
        entrySelector: .eplist tr:has(> td:nth-child(3))
        langSelectorMap:
          zh: td:nth-child(1)
          ja: td:nth-child(2)
          en: td:nth-child(3)
      ResultPath: $.payload
      Next: UPDATE_TERMINOLOGY_3
    UPDATE_TERMINOLOGY_3:
      Type: Task
      Resource: UPDATE_TERMINOLOGY
      Parameters:
        category: location
        list.$: $.payload
      ResultPath: $.payload
      End: true
---
name: Update Nature term list
isPrivate: false
enabled: true
triggers:
- type: TRIGGER_EVENTBUS
  topic: mediawiki.revision-create
  predicate:
    op: test
    path: /page_title
    value: 性格
- type: TRIGGER_MANUAL
definition:
  StartAt: GET_HTML_1
  States:
    GET_HTML_1:
      Type: Task
      Resource: GET_HTML
      Parameters:
        title: 性格
        variants:
        - zh-hant
        - zh-hans
      ResultPath: $.payload
      Next: PARSE_TERMINOLOGY_LIST_2
    PARSE_TERMINOLOGY_LIST_2:
      Type: Task
      Resource: PARSE_TERMINOLOGY_LIST
      Parameters:
        text.$: $.payload.text
        variants.$: $.payload.variants
        entrySelector: table.sortable tr:has(> td:nth-child(3))
        langSelectorMap:
          zh: td:nth-child(1)
          ja: td[lang="ja"]
          en: td:nth-child(3)
      ResultPath: $.payload
      Next: UPDATE_TERMINOLOGY_3
    UPDATE_TERMINOLOGY_3:
      Type: Task
      Resource: UPDATE_TERMINOLOGY
      Parameters:
        category: nature
        list.$: $.payload
      ResultPath: $.payload
      End: true
---
name: Update Trainer Class term list
isPrivate: false
enabled: true
triggers:
- type: TRIGGER_EVENTBUS
  topic: mediawiki.revision-create
  predicate:
    op: test
    path: /page_title
    value: 训练家类型
- type: TRIGGER_MANUAL
definition:
  StartAt: GET_HTML_1
  States:
    GET_HTML_1:
      Type: Task
      Resource: GET_HTML
      Parameters:
        title: 训练家类型
        variants:
        - zh-hant
        - zh-hans
      ResultPath: $.payload
      Next: PARSE_TERMINOLOGY_LIST_2
    PARSE_TERMINOLOGY_LIST_2:
      Type: Task
      Resource: PARSE_TERMINOLOGY_LIST
      Parameters:
        text.$: $.payload.text
        variants.$: $.payload.variants
        entrySelector: .eplist tr:has(> td:nth-child(3))
        langSelectorMap:
          zh: td:nth-child(1) a
          ja: td:nth-child(2)
          en: td:nth-child(3)
      ResultPath: $.payload
      Next: UPDATE_TERMINOLOGY_3
    UPDATE_TERMINOLOGY_3:
      Type: Task
      Resource: UPDATE_TERMINOLOGY
      Parameters:
        category: trainer-class
        list.$: $.payload
      ResultPath: $.payload
      End: true
---
name: Update Warrior term list
isPrivate: false
enabled: true
triggers:
- type: TRIGGER_EVENTBUS
  topic: mediawiki.revision-create
  predicate:
    op: test
    path: /page_title
    value: 武将
- type: TRIGGER_MANUAL
definition:
  StartAt: GET_HTML_1
  States:
    GET_HTML_1:
      Type: Task
      Resource: GET_HTML
      Parameters:
        title: 武将
        variants:
        - zh-hant
        - zh-hans
      ResultPath: $.payload
      Next: PARSE_TERMINOLOGY_LIST_2
    PARSE_TERMINOLOGY_LIST_2:
      Type: Task
      Resource: PARSE_TERMINOLOGY_LIST
      Parameters:
        text.$: $.payload.text
        variants.$: $.payload.variants
        entrySelector: table tr:has(> td[lang="ja"])
        langSelectorMap:
          zh: td:nth-child(1)
          ja: td[lang="ja"]
          en: td:nth-child(3)
      ResultPath: $.payload
      Next: UPDATE_TERMINOLOGY_3
    UPDATE_TERMINOLOGY_3:
      Type: Task
      Resource: UPDATE_TERMINOLOGY
      Parameters:
        category: warrior
        list.$: $.payload
      ResultPath: $.payload
      End: true
---
name: Update Character term list
isPrivate: false
enabled: true
triggers:
- type: TRIGGER_EVENTBUS
  topic: mediawiki.revision-create
  predicate:
    op: test
    path: /page_title
    value: 人物列表
- type: TRIGGER_MANUAL
definition:
  StartAt: GET_HTML_1
  States:
    GET_HTML_1:
      Type: Task
      Resource: GET_HTML
      Parameters:
        title: 人物列表
        variants:
        - zh-hant
        - zh-hans
      ResultPath: $.payload
      Next: PARSE_TERMINOLOGY_LIST_2
    PARSE_TERMINOLOGY_LIST_2:
      Type: Task
      Resource: PARSE_TERMINOLOGY_LIST
      Parameters:
        text.$: $.payload.text
        variants.$: $.payload.variants
        entrySelector: .eplist tr:has(> td:nth-child(3))
        langSelectorMap:
          zh: td:nth-child(1) a
          ja: td:nth-child(2)
          en: td:nth-child(3)
      ResultPath: $.payload
      Next: UPDATE_TERMINOLOGY_3
    UPDATE_TERMINOLOGY_3:
      Type: Task
      Resource: UPDATE_TERMINOLOGY
      Parameters:
        category: character
        list.$: $.payload
      ResultPath: $.payload
      End: true
---
name: Recent change to Discord
isPrivate: false
enabled: true
triggers:
- type: TRIGGER_EVENTBUS
  topic: mediawiki.revision-create
  predicate:
    op: not
    apply:
    - op: test
      path: /performer/user_is_bot
      value: true
definition:
  StartAt: DISCORD_MESSAGE_1
  States:
    DISCORD_MESSAGE_1:
      Type: Task
      Resource: DISCORD_MESSAGE
      Parameters:
        channel: '792599126511452212'
        message:
          embed:
            url.$: $.payload.meta.uri
            title.$: $.payload.page_title
            description:
              Template: "{{stripHTML payload.parsedcomment}}"
            fields:
            - name: "By"
              value:
                Template: "{{payload.performer.user_text}}"
            - name: "Actions"
              value:
                Template: "[Show diff](https://{{payload.meta.domain}}/index.php?title={{encodeURIComponent payload.page_title}}&diff={{payload.rev_id}}&oldid={{payload.rev_parent_id}})"
      ResultPath: $.payload
      End: true
---
name: Clear cache after page editing
isPrivate: false
enabled: true
triggers:
- type: TRIGGER_EVENTBUS
  topic: mediawiki.revision-create
definition:
  StartAt: REQUEST_1
  States:
    REQUEST_1:
      Type: Task
      Resource: REQUEST
      Parameters:
        method: PURGE
        url:
          Template: http://nginx-52w/wiki/{{encodeURI payload.page_title}}zh
      ResultPath: $.response
      Next: REQUEST_2
    REQUEST_2:
      Type: Task
      Resource: REQUEST
      Parameters:
        method: PURGE
        url:
          Template: http://nginx-52w/wiki/{{encodeURI payload.page_title}}zh-hans
      ResultPath: $.response
      Next: REQUEST_3
    REQUEST_3:
      Type: Task
      Resource: REQUEST
      Parameters:
        method: PURGE
        url:
          Template: http://nginx-52w/wiki/{{encodeURI payload.page_title}}zh-hant
      ResultPath: $.response
      Next: REQUEST_4
    REQUEST_4:
      Type: Task
      Resource: REQUEST
      Parameters:
        method: PURGE
        url:
          Template: http://nginx-52w/zh/{{encodeURI payload.page_title}}
      ResultPath: $.response
      Next: REQUEST_5
    REQUEST_5:
      Type: Task
      Resource: REQUEST
      Parameters:
        method: PURGE
        url:
          Template: http://nginx-52w/zh-hans/{{encodeURI payload.page_title}}
      ResultPath: $.response
      Next: REQUEST_6
    REQUEST_6:
      Type: Task
      Resource: REQUEST
      Parameters:
        method: PURGE
        url:
          Template: http://nginx-52w/zh-hant/{{encodeURI payload.page_title}}
      ResultPath: $.response
      End: true
---
name: Recent change to Fedi
isPrivate: true
enabled: true
user: MudkipRadar
triggers:
- type: TRIGGER_EVENTBUS
  topic: mediawiki.revision-create
  predicate:
    op: and
    apply:
    - op: not
      apply:
      - op: test
        path: /performer/user_is_bot
        value: true
    - op: test
      path: /page_namespace
      value: 0
  throttle: 86400
  throttleKeyPath: $.page_title
definition:
  StartAt: FEDI_POST_1
  States:
    FEDI_POST_1:
      Type: Task
      Resource: FEDI_POST
      Parameters:
        subject: '@rotom@pub.52poke.net'
        status:
          Template: '{{payload.page_title}} {{payload.meta.uri}}'
      ResultPath: $.payload
      End: true